@import 'normalize.css';
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: helvetica, arial, sans-serif;
}
p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
.background {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    z-index: -99;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 5rem !important;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.navigation {
    justify-content: center;
    margin: 0 auto;
    margin-top: 5rem;
}

time {
    margin: auto;
    font-size: 2.5rem;
}

.choice {
    text-align: center;
    font-size: 3.5em;
    margin: 2rem 0 0 2rem;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 2rem;
    border: 1px solid grey;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.85);
}

.choice > a {
    text-decoration: none !important;
    color: white !important;
}

a.choice {
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

#clock {
    margin: 0 auto;
    font-size: 2.25rem;
}

/* EPISODES */
div.videos {
    display: grid;
    grid-template-rows: 1fr;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;

    font-weight: bold;
    font-family: monospace;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;

    padding: 1rem;

    color: black;
    background: rgb(33, 175, 51);

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid currentColor;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.season {
    max-height: 0px;
    overflow: hidden;
    margin-top: 1rem;
    transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .season {
    max-height: 100vh;
}

div.Kommande {
    display: none;
}

h1.title {
    margin-left: 0.5rem;
}

div.season {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

p.episode {
    font-size: 1.5em;
    font-weight: bold;
}

p.desc {
    max-width: 30ch;
}
